[project]
	description = contains all the examples i've used during my project work and lost afterwards...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/k1eriker
[access "refs/for/refs/*"]
	read = group user/k1eriker
	push = group user/k1eriker
	label-Code-Review = -2..+2 group user/k1eriker
	label-Verified = -1..+1 group user/k1eriker
	rebase = group user/k1eriker
	removeReviewer = group user/k1eriker
	submit = group user/k1eriker
[access "refs/heads/*"]
	read = group user/k1eriker
	create = group user/k1eriker
	push = +force group user/k1eriker
	pushMerge = group user/k1eriker
[access "refs/tags/*"]
	push = group user/k1eriker
	push = +force group user/k1eriker
